/* TODO
spinning gradient in circle when loading ? https://davidwalsh.name/css-circles
*/


html, body {
    margin: 0;
    height: 100%;

    background-image: url(img/background.jpg);
}

.top {
    height: 5%;
}

.middle {
  display: table;
    /*display: table;*/ /* with this, middle is expanded to include circle */
    width: 100%;
}
.bottom {
  height: 25%;
  overflow: hidden;
}

.middlecenter {
    width: 100%;
    height: 100%;
    float: left;
}

#circle {
    /* Create a circle: width MUST match padding-bottom ! */
    width: 35%;
    padding-bottom: 35%;
    margin-left: 32.5%; /* center: (100 - width)/2 */
    height: 0;
    border-radius: 50%;

    background-image: url(https://i.imgsafe.org/a58efe5cee.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    box-shadow:2px 2px 10px gray;

}

#buttons {
  margin-top:3em;
  text-align: center;
}

.button {
  background-image: url('img/tileable_wood_texture.png');
  color: green;
  padding: 1.5% 1.5%;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border-radius: 30%;
  transition-property:color;
  transition-duration: 0.8s;
  margin-left:2%;
  margin-bottom:2%;
  font-size: 4vw;
}

.button:hover {
  color: black;
}

#quote {
  padding-left:20%;
  padding-top:20%;
  padding-right: 20%;
  font-size: 1.3vw;
  margin-bottom: 10%;
}

#author {
  text-align: center;
  font-weight: bold;
  font-size: 1.2vw;
}

/* Portrait mode */
@media only screen
and (orientation : portrait) {
      /* css rules */
      #circle {
        /* Create a circle: width MUST match padding-bottom ! */
        width: 60%;
        padding-bottom: 60%;
        margin-left: 20%; /* center: (100 - width)/2 */
      }

      #quote {
        font-size: 2.5vw;
      }

      #author {
        font-size: 2.3vw;
      }

      .button {
        font-size: 8vw;
      }
}
