/**
TODO: center city + button vertically block
TODO: this pic doesn' fit well: http://farm9.static.flickr.com/8385/29654863241_cd560b932c_h.jpg
*/

html, body {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-image: url("img/background.jpg");
    background-position: left top;
    background-repeat: space;
    background-size: cover;
    background-color: rgba(64, 64, 64, 1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
}


/*******
PANELS
********/
#weatherpanel {
    background-color: rgba(0,0,139,0.1);
    height: 30em;
    margin-top: 5em;
    overflow: hidden;
    border-radius: 20%;
}

#locationpanel {
    background-color: rgba(255,0,0,0.1);
    height: 30em;
    margin-top: 5em;
    overflow:hidden;
    border-radius: 20%;
}

/** Add effects when image changes */
#citypicture {
    transition:opacity 3s ease-in-out;
}


#locationbutton {}

#location {}

#weather {}


#infos {}

#images {}

/************************************************************
Components part, should be overriden, not modified directly
/************************************************************


/*************************************************
* City component
* Displays city title + button to refine location
**************************************************/
.citycomponent {
    margin-top: 2em;
    margin-bottom: 3.2em;

    color: white;

    /* center the content */
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Refine location button */
.citycomponent .fa {
    font-size: 2.5em;
    transition: all 2s ease;
}

/* grow on hover */
.citycomponent .fa:hover {
  transform:scale(1.25);
  color: rgba(194,0,0,0.65);
  cursor: pointer;
}

/* vertical align city and button */
div.citycomponent > div > span {
  display: flex;
  align-items: center;
  width: 20em; /** some space for long city names */
}

/* city name */
.citycomponent > div > span > span {
    margin-right: 1em;
}


/*************************/

/*************************
City picture component
**************************/

.citypicture {
  max-width: 100%;
  max-height: 100%;

  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.citypicture img {
  height: auto;
  max-width: 90%;
  /* if not set, image will be truncated below */
  max-height: 20em;
  border-radius: 10%;

  display: block;
  margin: 0px auto;
}

/*************************/

/***************************
/* Weather component
/***************************/
.weathercomponent {
  margin-top: 2em;
  margin-left: auto;
  margin-right:auto;
  width: 50%;
}

.weathercomponent .wi {
  font-size: 7em;
  display: block;
  clear: both;
  text-align: center;
}

.weathercomponent span {
  display:block;
  clear: both;
  margin-top: 2em;
  text-align: center
}

/***************************
/* Settings component
/***************************/
.settingscomponent {
  color: white;
  margin-top: 2em;
  margin-left: auto;
  margin-right:auto;
  width: 50%;
}

.settingscomponent > span {
  display:flex;
  align-items: center;
  width: 20em;
}

.settingscomponent .fa {
  font-size: 2em;
  transition: all 2s ease;
}

/* grow on hover */
.settingscomponent .fa:hover {
  transform:scale(1.50);
  color: rgba(194,0,0,0.65);
  cursor: pointer;
}

.settingscomponent span {
  display:block;
  clear: both;
  margin-top: 2em;
  text-align: center
}

/*************************
/* Settings dialog
*************************/
.modal-header {
  background-color: rgba(194,0,0,0.65);
}
