/**
TODO: this pic doesn' fit well: http://farm9.static.flickr.com/8385/29654863241_cd560b932c_h.jpg
TODO: media queries + bootstrap handling for portait + phones
*/

html, body {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-image: url("img/background.jpg");
    background-position: left top;
    background-repeat: space;
    background-size: cover;
    background-color: rgba(64, 64, 64, 1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
}


/*******
PANELS
********/
#maincontainer {
  width: 85%;
  height: 100%;
  overflow: hidden;
}

.sidepanel {
  margin-top: 10%;
  overflow: hidden;
  border-radius: 20%;
  height: 40em;
}

#weatherpanel {
    background-color: rgba(0,0,139,0.1);
}

#locationpanel {
    background-color: rgba(255,0,0,0.1);
}

/** Add effects when image changes */
#citypicture {
    transition:opacity 3s ease-in-out;
}

#locationbutton {
  cursor: pointer;
}

#settingsdialog {
  top: 20%;
}

/************************************************************
Components part, should be overriden, not modified directly
/************************************************************


/*************************************************
* City component
* Displays city title + button to refine location
**************************************************/
.locationcomponent {
    margin-top: 2em;
    height: 85%;
    padding-bottom: 10%;
}

.locationcomponent .city_row {
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  padding-bottom: 1em;
}


/*************************/

/*************************
City picture component
**************************/
.citypicture {
  max-width: 100%;
  max-height: 100%;
}

.citypicture img {
  height: auto;
  max-width: 90%;
  /* if not set, image will be truncated below */
  max-height: 30em;
  border-radius: 10%;

  display: block;
  margin: 0px auto;
}

/*************************/

/***************************
/* Weather component
/***************************/
.weathercomponent {
  margin-top: 2em;
  height: 85%;
  padding-bottom: 10%;
}

.weathercomponent .weather {
  padding-top: 2em;
}

.weathercomponent .valuecolumn {
  text-align: left;
}

.weathercomponent .weather_row {
  padding-bottom: 1em;
}

.weathercomponent .weathericon {
  font-size: 750%;
  display: block;
  clear: both;
  text-align: center;
}

.weathercomponent .windicon {
  font-size: 400%;
  display: block;
  clear: both;
  text-align: right;
}

.weathercomponent span {
  display:block;
  clear: both;
  text-align: center
}

.weathercomponent .wind_row {
  margin-top: 2em;
}

.weathercomponent .weather {
  font-size: 1.2em;
  text-transform: uppercase;;
}

.weathercomponent .windicon {
    font-size: 7em;
    display: block;
    clear: both;
    text-align: center;
}

.temperature_row div {
  font-weight: bold;
}

.temperature_row span {
  text-align: right;
}

/***************************
/* Settings component
/***************************/
.settingscomponent {
  color: white;
  margin-top: 2em;
  margin-left: auto;
  margin-right:auto;
}

.settingscomponent > span {
  display:flex;
  align-items: center;
}

.settingscomponent .fa {
  font-size: 5em;
  transition: all 2s ease;
}

/* grow on hover */
.settingscomponent .fa:hover {
  transform:scale(1.50);
  color: rgba(194,0,0,0.65);
  cursor: pointer;
}

.settingscomponent span {
  display:block;
  clear: both;
  text-align: center;
  font-size: 1.2em;
}

/*************************
/* Settings dialog
*************************/
#settingsdialog label {
  /** force label on top of field */
  display: block;
}

.modal-header {
  background-color: rgba(194,0,0,0.65);
}

/** Color override for bootstrap-switch */
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch
.bootstrap-switch-handle-off.bootstrap-switch-primary {
    background-color: rgba(194,0,0,0.65);
}

/**** Media queries ***/
@media screen and (max-height: 700px) {
  .sidepanel {
    margin-top: 2.5%;
    height: 30em;
  }

  .citypicture img {
    max-height: 20em;;
  }

  .weathercomponent .weather {
    margin-top: 2em;
  }

  .settingscomponent {
    margin-top: 0.3em;
  }
}
